{
    "access_token": "YOUR_YAHOO_ACCESS_TOKEN",
    "consumer_key": "YOUR_YAHOO_CONSUMER_KEY",
    "consumer_secret": "YOUR_YAHOO_CONSUMER_SECRET",
    "guid": null,
    "refresh_token": "YOUR_YAHOO_REFRESH_TOKEN",
    "token_time": 0,
    "token_type": "bearer",
    "pff_api_key": "YOUR_PFF_API_KEY",
    "subvertadown_cookie": "YOUR_SUBVERTADOWN_COOKIE_STRING"
}
